body { margin: 0; }

.header, 
.main {
  width: 80%;
  max-width: 1440px;
  padding: 15px 25px;
  margin: 0 auto;

  background-color: #fff4d9;
}

@media (min-width: 1441px) {
  .main { height: 100vh; }
}

.main { font-family: "Montserrat", sans-serif; }

.header__h1,
[class$="h2"] { font-family: "Roboto Slab", serif; }

.header__h1 {
  margin: 0;
  font-size: 30px;
}

[class$="h2"] { font-size: 22px; }

.main__essential-info-wrapper { display: flex; }

.main__contacts { align-self: center; }

.my_photo {
  margin-right: 20px;

  border-radius: 50%;
  border: 2px dotted grey;
}

h2 + p { margin: 15px; }

.main__coding-list { list-style: none; }
